{% extends "base.html" %}
{% load static %}
{% block title %}
     Merch Store: Cart
{% endblock title %}

{% block styles %}
    <style>
    </style>
{% endblock styles %}

{% block content %}
     <h1>Cart</h1>
     {% if request.user.is_authenticated %}
          <ul>
               {% for transaction in transactions %}
                    {% if transaction.buyer == request.user.profile %}
                         <li>{{ transaction.product.name }}</li>
                    {% endif %}
               {% endfor %}
          </ul>
     {% endif %}

     <h1>Other Cart</h1>
     <ul>
          {% for transaction in transactions %}
               {% if transaction.buyer != request.user.profile %}
                    <h2>{{ profile.user }}</h2>
                    <li>{{ transaction.product.name }}</li>
               {% endif %}
          {% endfor %}
     </ul>
{% endblock content %}