{% extends "base.html" %}
{% load static %}
{% block title %}
     Merch Store: Cart
{% endblock title %}

{% block styles %}
    <style>
    </style>
{% endblock styles %}

{% block content %}
     <h2>Cart</h2>
     {% if request.user.is_authenticated %}
          <table class="table">
               <thead>
                    <tr>
                         <th scope="col">Product Name</th>
                         <th scope="col">Type</th>
                         <th scope="col">Status</th>
                         <th scope="col">Seller</th>
                         <th scope="col">Price</th>
                         <th scope="col">Amount</th>
                    </tr>
               </thead>
               <tbody>
               {% for transaction in transactions %}
                    {% if transaction.buyer == request.user.profile %}
                         <tr>
                              <th scope="row"> {{ transaction.product.name }} </th>
                              <td> {{ transaction.product.product_type }} </td>
                              <td> {{ transaction.status }}</td>
                              <td> {{ transaction.product.owner }}</td>
                              <td> {{ transaction.product.price }} </td>
                              <td> {{ transaction.amount }}</td>
                            </tr>
                    {% endif %}
               {% endfor %}
               </tbody>
          </table>
     {% endif %}
{% endblock content %}