{% extends "base.html" %}
{% load static %}
{% block title %}
     Merch Store: Create a Product
{% endblock title %}

{% block styles %}
    <style>
        body {
            margin-left: 50px; 
            margin-right: 50px; 
        }

        .nav {
            margin-top: 50px;
        }
    </style>
{% endblock styles %}

{% block content %}
    <h1>Add a Product</h1>
    <form method="POST">
        <p>Owner: {{ request.user.profile.user }}</p>
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}