{% extends 'base.html' %}

{% block title %}
    Merch Store: Product Types
{% endblock title %}

{% block styles %}
    <style>
        body {
            margin-left: 50px; 
            margin-right: 50px; 
        }

        .nav {
            margin-top: 50px;
        }
    </style>
{% endblock styles %}

{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <h3>Your Products</h3>
            {% for type in product_type %}
                <h4>{{ type }}</h4>
                <ul>
                    {% for product in object_list %}
                        {% if product.product_type == type and product.owner == request.user.profile %}
                            <li>
                                <a href="{{ product.get_absolute_url }}">
                                    {{ product }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
            <a href="{% url 'merchstore:product-add' %}">Create a New Product</a>
        {% endif %}

        <h3>Other Products</h3>
        {% for type in product_type %}
            <h4>{{ type }}</h4>
            <ul>
                {% for product in object_list %}
                    {% if product.product_type == type and product.owner != request.user.profile %}
                        <li>
                            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                            </li>
                    {% endif %}
                 {% endfor %}
             </ul>
        {% endfor %}

    </div>
{% endblock content %}
