{% extends 'base.html' %}

{% block title %}
    Merch Store: Product Types
{% endblock title %}

{% block styles %}
    <style>
        .me-2 {
            margin-left: 5px;
        }

        .btn.btn-primary {
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>
{% endblock styles %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h3>My Products</h3>
        {% for type in product_type %}
            <h4>{{ type }}</h4>
            <ul class="list-group">
                {% for product in object_list %}
                    {% if product.product_type == type and product.owner == request.user.profile %}
                        <li class="list-group-item">
                            <a href="{{ product.get_absolute_url }}" class="me-2">
                                {{ product }}
                            </a>
                            — P{{ product.price }}
                            <span class="badge bg-primary rounded-pill"> {{ product.status }} </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'merchstore:product-add' %}" role="button">Create a New Product</a>
    {% endif %}

    <hr class="solid">

    <h3>Products</h3>
    {% for type in product_type %}
        <h4>{{ type }}</h4>
        <ul class="list-group">
            {% for product in object_list %}
                {% if product.product_type == type and product.owner != request.user.profile %}
                    <li class="list-group-item">
                        <a href="{{ product.get_absolute_url }}" class="me-2">
                            {{ product }}
                        </a>
                        — P{{ product.price }}
                        <span class="badge bg-primary rounded-pill"> {{ product.status}} </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
