{% extends "base.html" %}
{% load static %}
{% block title %}
     Merch Store: Transactions List
{% endblock title %}

{% block styles %}
    <style>
    </style>
{% endblock styles %}

{% block content %}
     <h1>Transactions</h1>
     {% if request.user.is_authenticated %}
          <ul>
               {% for transaction in transactions %}
                    {% if transaction.buyer != request.user.profile %}
                         <li>{{ transaction.product.name }}</li>
                    {% endif %}
               {% endfor %}
          </ul>
     {% endif %}

     <h1>Other Transactions</h1>
     <ul>
          {% for transaction in transactions %}
               {% if transaction.buyer == request.user.profile %}
                    <li>{{ transaction.product.name }}</li>
               {% endif %}
          {% endfor %}
     </ul>
{% endblock content %}