<!--hobbysite/templates/article_list.html-->

{% extends 'base.html' %}

{% block title %}
    Blog
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>My Articles:</h3>
            {% for category in article_category %}
            <h4>{{ category.name }}</h4>
            <div>
                {% for article in object_list %}
                    {% if article.author == request.user.profile %}
                    <div class="card">
                        <img src="{{ article.header_image.url }}" class="card-img-top" alt="Header Image">
                        <h5 class="card-title">
                            <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
                        </h5>
                    </div>
                    {% endif %}
                {% endfor %}
            {% empty %}
                <p>No articles yet.</p>
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{% url 'blog:article_create' %}" role="button">Create Article</a>
    {% endif %}


    <hr class="solid">

    <h3>All Articles:</h3>
    <div>
        {% for category in article_category %}
        <h4>{{ category.name }}</h4>
            {% for article in object_list %}
                {% if article.author != request.user.profile %} 
                <div class="card">
                    <img src="{{ article.header_image.url }}" class="card-img-top" alt="Header Image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
                        </h5>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% empty %}
            No articles yet.
        {% endfor %}
    </div>
{% endblock content %}


