<!--hobbysite/templates/article_list.html-->

{% extends 'base.html' %}

{% block title %}
    Blog
{% endblock title %}

{% block content %}
    <h3>My Articles:</h3>
    {% for article in user_articles %}
        <div class="card" style="width: 18rem;">
            <img src ="{{ article.header_image.url }}" class="card-img-top" alt="Header Image">
            <div class="card-body">
                <h5 class="card-title">
                    <p>{{ article.title }}</p>
                    <a href="{% url 'blog:article_detail' article.pk %}">Read Now</a>
                </h5>
            </div>
        </div>
    {% empty %}
        No articles yet.
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'blog:article_create' %}" role="button">Create Article</a>

    <hr class="solid">

    <h3>All Articles:</h3>
    {% for category, articles in articles_by_category.items %}
        <h4>{{ category.name }}</h4>
        <ul>
            {% for article in articles %}
                <li>
                    <div>
                        <img src="{{ article.header_image.url }}" alt="Header Image">
                    </div>
                    <div>
                        <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}
{% endblock content %}
