<!-- hobbysite/templates/article_form.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>{% if article %}Edit Article{% else %}Create Article{% endif %}</h1>
  <form action="{% if article %}{% url 'blog:article_update' article.pk %}{% else %}{% url 'blog:article_create' %}{% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <h1>Post Comment</h1>
  <form action="{% if article %}{% url 'blog:comment_create_view' article.pk %}{% endif %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Post Comment</button>
  </form>
{% endblock %}
