<!--hobbysite/templates/article_list.html-->

{% extends 'base.html' %}

{% block title %}
    Blog
{% endblock title %}

{% block styles %}
    <style>
        body {
            font-family: Tahoma;
            margin: 0;
            background-color: #e9e0d2; 
            color: #2e2e2e; 
        }
        .container {
            padding: 20px;
            background-color: #e9e6d6; 
            border-radius: 8px;
            border: 40px solid #bcc199; 
        }
        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }
        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: calc(33.33%);
            margin-bottom: 20px;
            text-align: center;
        }
        a {
            color: #767b5f;
            text-decoration: none;
            transition: color 0.3s, transform 0.3s; 
        }
        a:hover {
            text-decoration: underline;
            color: #4a4e3f; 
        }
        img {
            width: 90%; 
            height: 150px; 
            object-fit: cover; 
            border-radius: 8px; 
        }
        h2 {
            font-size: 1.rem;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="container">
    <h1><a href="{% url 'blog:article_create' %}">Create Article</a></h1>
    <h1>My Articles:</h1>
    <ul>
        {% for article in user_articles %}
            <li>
                <img src="{{ article.header_image.url }}" alt="Header Image">
                <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
            </li>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
    </ul>

    <h1>All Articles:</h1>
    {% for category, articles in articles_by_category.items %}
        <h2>{{ category.name }}</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <img src="{{ article.header_image.url }}" alt="Header Image">
                    <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}
</div>
{% endblock content %}
