# hobbysite/templates/base.html

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <div id="content">
            {% block content %}
                {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <form action="{% url 'login' %}" method="get">
                        <button type="submit">Login</button>
                    </form>
                {% endif %}
            {% endblock content %}
        </div>
    </body>
</html>