{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <h1>Welcome to Our Hobby Site!</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'merchstore:list' %}"
            >Merch Store</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forum:post_list' %}">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/articles">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/commissions/list">Commissions</a>
        </li>
    </ul>
{% endblock %}
