{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}

{% block styles %}
    <style>
    </style>
{% endblock styles %}

{% block content %}
    <h1>Welcome to Our Hobby Site!</h1>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% url 'merchstore:list' %}">Merch Store</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'forum:post_list' %}">Forum</a>
        </li>
        <li class="list-group-item">
            <a href="/blog/articles">Blog</a>
        </li>
        <li class="list-group-item">
            <a href="/commissions/list">Commissions</a>
        </li>
      </ul>
{% endblock %}
