{% extends 'base.html' %}

{% block title %}
     Posts
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="./style.css">
{% endblock styles %}

{% block content %}
    <h1>
        <a href="{% url 'forum:post_list' %}">Forum</a>
    </h1>
    <ul>
        {% for post in object_list %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    {{ post }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
