{% extends 'base.html' %}

{% block title %}
    Merch Store: Product Types
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/merchstore/items">Merch Store</a>
        </h1>
        <ul>
            {% for product in object_list %}
                <li>
                    <a href="{{ product.get_absolute_url }}">
                        {{ product }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
