{% extends 'base.html' %}

{% block title %}
    Merch Store: Product Details
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <h2>{{ product.name }}</h2>
    <p>Product Type: {{ product.product_type }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    {% if request.user.is_authenticated and product.owner != request.user.profile %}
        <h4>Purchase a Product</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock content %}
