{% extends 'base.html' %}

{% block title %}
    <h1>Forum Detail</h1>
{% endblock title %}

{% block content %}
<div class="container">
    <h1><a href="{% url 'forum:thread_list' %}">Forum</a></h1>
    <h2>{{ thread.title }}</h2>
    <p><strong>Author:</strong> {{ thread.author.username }} </p>
    <p><strong>Category:</strong> {{ thread.category.name}}</p>
    <p><strong>Entry:</strong> {{thread.entry}}</p>
    <img src="{{ thread.image.url }}" alt="Image">
    <p><strong>Created On:</strong> {{ thread.created_on }}</p>
    <p><strong>Updated On:</strong> {{ thread.updated_on }}</p>
    
    {% if request.user == thread.author %}
        <a href="{% url 'forum:thread_update' thread.pk %}" class="btn btn-primary">Edit</a>
    {% endif %}
    
    <h2>Other Threads in the {{ thread.category.name }} Category:</h2>
    <ul>
        {% for other_thread in other_threads %}
            <li><a href="{{ other_thread.get_absolute_url }}">{{ other_thread.title }}</a></li>
        {% endfor %}
    </ul>    

    <h2>Comments:</h2>
    {% for comment in comments %}
        <p>{{ comment.entry }}</p>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    <h2>Post a Comment:</h2>
    <form action="{% url 'forum:comment_create_view' thread.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Post Comment</button>
    </form>

</div>
{% endblock content %}
