{% extends 'base.html' %}

{% block title %}
    Forum
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>My Threads:</h3>
            <ul class="list-group list-group-flush">
            {% for thread in user_threads %}
                    <li class="list-group-item">
                        <a href="{% url 'forum:thread_detail' thread.pk %}">{{ thread.title }}</a>
                        <span class="badge bg-primary rounded-pill"> {{ thread.category }} </span>
                    </li>
            {% empty %}
                <p>No threads yet.</p>
            {% endfor %}
            </ul>
    {% endif %}

    <a class="btn btn-primary" href="{% url 'forum:thread_create' %}" role="button">Create Thread</a>

    <hr class="solid">

    <h3>All Threads:</h3>
        <ul class="list-group list-group-flush">
        {% for category, threads in threads_by_category.items %}
            <h4>{{ category.name }}</h4>
            {% for thread in threads %}
                <li class="list-group-item">
                    <a href="{% url 'forum:thread_detail' thread.pk %}">{{ thread.title }}</a>
                </li>
            {% endfor %}
        {% empty %}
            <p>No threads available.</p>
        {% endfor %}
        </ul>
{% endblock content %}
