{% extends 'base.html' %}

{% block title %}
     Forum
{% endblock title %}

{% block content %}
<h7><a href="/home"> Return to Homepage </a></h7>
<div class="container">
    {% if user.is_authenticated %}
        <h3>My Threads:</h3>
        <div>
            {% for thread in user_threads %}
                <li>
                    <div>
                        <a href="{% url 'forum:thread_detail' thread.pk %}">{{ thread.title }}</a>
                    </div>
                </li>
            {% empty %}
                <li>No threads yet.</li>
            {% endfor %}
    {% endif %}
    </div>

    <a class="btn btn-primary" href="{% url 'forum:thread_create' %}" role="button">Create Article</a>

    <hr class="solid">

    <h3>All Threads:</h3>
    
        {% for category, threads in threads_by_category.items %}
            <h4>{{ category.name }}</h4>
            <div>
                {% for thread in threads %}
                    <div class="card">
                        <img src="{{ thread.image.url }}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'forum:thread_detail' thread.pk %}">{{ thread.title }}</a>
                            </h5>
                        </div>
                {% endfor %}
            </div>
        {% empty %}
        <p>No threads available.</p>
        {% endfor %}

{% endblock content %}
